* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body {
  height: 100vh;
}
.wrap_90 {
  width: 90%;
  margin: 0 auto;
}

.header_container {
  height: 18%;
  width: 100%;
  background-color: blue;
}
.nav_bar {
  height: 100%;
  display: flex;
  align-items: center;
}
main {
  height: 82%;
}
.films {
  height: 50%;
  background-color: yellow;
}
.tv {
  height: 50%;
  background-color: red;
}
